# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw asset staging
ai video generation/
GLB/
*.glb
public/models/
*.mp4
!public/*.mp4
build.txt
vite.config.js.timestamp*
public/artisan beadfit demo.mp4

.vercel

# Private Resumes & Client Custom Variants
resumes/
*.pdf
*Resume*
